/*Full background image styles*/

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

/*Including font */

@font-face {
    font-family: 'arvoregular';
    src: url('fonts/arvo-regular-webfont.eot');
    src: url('fonts/arvo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/arvo-regular-webfont.woff') format('woff'),
         url('fonts/arvo-regular-webfont.ttf') format('truetype'),
         url('fonts/arvo-regular-webfont.svg#arvoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nobileregular';
    src: url('fonts/nobile-webfont.eot');
    src: url('fonts/nobile-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nobile-webfont.woff') format('woff'),
         url('fonts/nobile-webfont.ttf') format('truetype'),
         url('fonts/nobile-webfont.svg#nobileregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: 'nobileregular';
  font-size: 100%;
  color: #fff;
  background-color: #1e0600;
}

.container {
    position: relative;
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

h1 { 
    font-family: 'arvoregular';
    font-size: 2.25rem;
    font-size: 36px; /*IE Fallback*/
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
    margin-top:30px;
    margin-bottom: 15px; 
}

p {
  margin-bottom: 10px;
  font-size: 0.875rem;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}